@import '../variables.css';

.root {
  border: 1px solid #2d3132;
  border-radius: 5px;
  font-size: 0.7em;
  padding: 0.21em 1.75em 0.15em 0.75em;
  display: inline-block;
  cursor: pointer;
  text-align: left;
  height: 1.5em;
  position: relative;
  width: 8em;
  margin: -0.5em 0.25em;
  font-family: var(--font-family-base);
  font-weight: 300;
  z-index: 10;
}

.root::after {
  content: '';
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  right: 0.75em;
  top: 0.875em;
  transform: rotate(45deg);
  transition: var(--transition-duration);
  border-left: 1px solid var(--brand-black);
  border-top: 1px solid var(--brand-black);
}

.root:focus {
  outline: none;
  background-color: var(--brand-lightgrey);
}

.root__open::after {
  transform: rotate(-135deg);
  top: 0.5em;
}

.root__open .inner {
  display: block;
  max-height: 8em;
}

.inner {
  position: absolute;
  top: -1px;
  left: -1px;
  border: 1px solid #2d3132;
  width: calc(100% + 2px);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
  max-height: 2em;
  overflow: hidden;
  transition: max-height var(--transition-duration) ease;
  display: none;
}

.option__selected {
  color: red;
  display: block;
}

.option:first-child {
  color: var(--brand-black);
}

.option {
  color: var(--brand-grey);
  padding: 0;
  background: none;
  border: none;
  font-family: var(--font-family-base);
  font-weight: 300;
  width: calc(100% - 2.5em);
  text-align: left;
  min-height: 2em;
  border-bottom: 1px solid var(--brand-grey);
  margin-right: 1.75em;
  margin-left: 0.75em;
  cursor: pointer;
}

.option:last-child {
  border-bottom: 0;
}

.option:focus {
  outline: none;
}

.root__open .option:hover {
  color: var(--brand-black);
}

.root__open .option:focus {
  background-color: var(--brand-lightgrey);
  box-shadow: -0.75em 0 var(--brand-lightgrey), 1.75em 0 var(--brand-lightgrey);
}
