<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= config.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      @import url("http://lasillavacia.com/modules/system/system.base.css?omjyc8");
    </style>
    <style>
      @import url("http://lasillavacia.com/modules/contextual/contextual.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/jquery_update/replace/ui/themes/base/minified/jquery.ui.core.min.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/jquery_update/replace/ui/themes/base/minified/jquery.ui.theme.min.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/jquery_update/replace/ui/themes/base/minified/jquery.ui.resizable.min.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/jquery_update/replace/ui/themes/base/minified/jquery.ui.button.min.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/jquery_update/replace/ui/themes/base/minified/jquery.ui.dialog.min.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/media/css/media.css?omjyc8");
    </style>
    <style>
      @import url("http://lasillavacia.com/sites/all/modules/simplenews/simplenews.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/date/date_api/date.css?omjyc8");
      @import url("http://lasillavacia.com/modules/field/theme/field.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/logintoboggan/logintoboggan.css?omjyc8");
      @import url("http://lasillavacia.com/modules/node/node.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/views/css/views.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/ckeditor/css/ckeditor.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/admin_menu/admin_menu.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/admin_menu/admin_menu_toolbar/admin_menu_toolbar.css?omjyc8");
      @import url("http://lasillavacia.com/modules/shortcut/shortcut.css?omjyc8");
    </style>
    <style>
      @import url("http://lasillavacia.com/sites/all/modules/ctools/css/ctools.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/panels/css/panels.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/layouts/despliegue/despliegue.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/webform/css/webform.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/panels/plugins/layouts/onecol/onecol.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/modules/ckeditor/css/ckeditor.editor.css?omjyc8");
    </style>
    <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.css" media="all" />
    <style>
      @import url("http://lasillavacia.com/sites/all/themes/bootstrap/css/3.3.5/overrides.min.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/style.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/color.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/base.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/lsv_custom.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/responsive.css?omjyc8");
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/responsive-custom.css?omjyc8");
    </style>
    <style>
      @import url("http://lasillavacia.com/sites/all/themes/lasillavacia/css/css_custom/lsv.css?omjyc8");
    </style>
    <link href="https://fonts.googleapis.com/css?family=Lato:700|Roboto+Slab:700|Roboto:300,300i,400,400i,500,500i,700" rel="stylesheet">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
  </head>
  <body>
    <div id="silla-interactive-container"></div>
    <script>
      window.sillaInteractiveData = {
        dataUri: 'https://la-entrevista.firebaseio.com/datalasillalider.json'
      }
    </script>
    <script
      src="https://code.jquery.com/jquery-2.2.4.min.js"
      integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
    <script src="<%= bundle %>"></script>
  </body>
</html>
