<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= config.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:700|Roboto+Slab:700|Roboto:300,300i,400,400i,500,500i,700" rel="stylesheet">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
  </head>
  <body>
    <div id="silla-interactive-container"></div>
    <script>
      window.sillaInteractiveData = {
        dataUri: 'https://la-entrevista.firebaseio.com/datalasillalider.json'
      }
    </script>
    <script src="<%= bundle %>"></script>
  </body>
</html>
