@import '../../components/variables.css';

.root {
  background-size: cover;
  background-position: center center;
  position: relative;
  overflow: hidden;
  z-index: 16;
  min-height: 75vmin;
  display: flex;
  align-items: flex-end;
}

.root::before,
.root::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.root__hidden {
  position: absolute;
  z-index: 5;
  width: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 1s;
}

.background::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*background-image: -webkit-linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.7));*/
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3));
}

.root__hidden .background {
  transform: translateY(-100%);
}

.content {
  margin: 10em auto 3em;
  max-width: 42em;
  width: 100%;
  text-align: left;
  color: var(--brand-white);
  transition: margin 1s;
  position: relative;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
}

.root__hidden .content {
  margin: 10em auto 0;
}

.content h1 {
  margin-bottom: 0;
  font-family: 'Georgia', Times new roman, serif;
  font-size: 3em;
  margin-top: 0;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
}

.content h2 {
  font-size: 1.25em;
  font-weight: lighter;
  transition: opacity 1s, font-size 1s;
}

.root__hidden h2 {
  opacity: 0;
  font-size: 0;
}

.content h2::after {
  content: '';
  width: 4em;
  height: 2px;
  background-color: var(--brand-white);
  display: block;
  margin: 2em auto;
  transition: margin 1s, opacity 1s;
}

.root__hidden h2::after {
  margin: 0 auto;
  opacity: 0;
}

.content p {
  font-family: var(--font-family-serif);
  font-size: 1.25em;
  text-align: left;
  font-weight: lighter;
  line-height: 2;
  transition: transform 1s;
  color: var(--brand-white);
}

.root__hidden .content p {
  opacity: 0;
  height: 0;
  transform-origin: top;
  transform: rotateX(90deg);
}

.backButton {
  color: #fff;
  display: block;
  text-align: center;
  width: 10em;
  margin: -1.5em auto 0;
  text-decoration: none;
  font-style: italic;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
}

.backButton:hover,
.backButton:active,
.backButton:focus {
  text-decoration: none;
  color: #fff;
}

.backButton::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--brand-white);
  transition: width var(--transition-duration);
}

.backButton:hover::after,
.backButton:focus::after {
  width: 100%;
}

.center {
  margin: 0 auto
}

.author {
  position: relative;
  z-index: 6;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.author_container {
  display: flex;
  align-items: center;
}

.author h6 {
  font-size: 1em;
  margin-bottom: 0;
}

.author h6 a {
  color: rgb(230,230,230);
}

.author_subtitle {
  color: rgb(230,230,230);
  font-size: .9em;
}

.author_image {
  background-color: var(--brand-white);
  width: 4em;
  height: 4em;
  border-radius: 50%;
  float: left;
  margin: 0 1em 0 0;
}

.author_description {
  float: left;
}

.followBtn a {
  font-size: 0.7em;
  color: rgb(230,230,230);
  margin-top: .5em;
  border: solid 1px rgb(230,230,230);
  text-decoration: none;
  padding: 7px 17px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  font-weight: 700;
  letter-spacing: 1px;
  display: block;
}

.followBtn a:hover {
  background-color: var(--brand-white);
  color: var(--brand-color)
}

.disclaimer {
  color: var(--brand-white);
  position: relative;
  margin: 0 auto;
  padding: 1em;
  display: block;
  z-index: 6;
}

.subtitle {
  max-width: 75rem;
  margin: 0 auto;
  background: #fff;
  padding: 4em 6em;
}

.subtitleText {
  max-width: 45em;
  margin: 0 auto;
  font-family: 'Georgia', Times new roman, serif;
  font-size: 1em;
}

@media screen and (max-width: 64rem) {
  .content {
    padding: 0 1em;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 48rem) {
  .content {
    margin: 12em auto 2em;
  }

  .content h1 {
    font-size: 2.25em;
  }

  .backButton {
    /*margin-top: ;*/
  }

  .subtitle {
    padding: 4em 1em;
  }
}

@media screen and (max-height: 36rem) {
  .content h1 {
    font-size: 2.25em;
  }
}

@media screen and (max-width: 30rem) {
  .content h1 {
    font-size: 1.8em;
    line-height: 1.25;
  }
}
