html, body {
  font-size: 16px;
  transition: opacity .2s;
}

article header .submitted,
.news .article-meta,
.col-lg-offset-1.info-author,
.article-main-body .img-container,
.article-main-body > p,
.article-sidebar.col-md-4,
.related-news.col-sm-12,
.sub-section.vistas,
.debate .question {
  display: none;
}

.article-main-body .author {
  display: block;
  position: absolute;
  z-index: 40;
  width: 100%;
  background: rgba(25, 25, 25, .4);
  top: 0;
  margin-top: 0;
  padding: 0 1em;
}

.article-main-body .author span {
  color: #fff;
}

.author-wrapper.col-sm-offset-1 {
  padding-right: 0;
  padding-left: 25px;
  position: absolute;
  z-index: 40;
  background: rgba(25, 25, 25, .4);
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
}

.author-wrapper.col-sm-offset-1 .author {
  border-bottom: 0;
  max-width: 1000px;
  margin: 0 auto;
}

.author-wrapper.col-sm-offset-1 .author span {
  color: #fff;
}

.author-wrapper .share-container ul {
  margin-bottom: 0;
  float: right;
}

.author-wrapper .date-llena span {
  margin-top: 4px;
}

.stats p {
  padding-top: 0;
}

.article-content,
.article-main-body,
.main-publication {
  padding: 0 !important;
  width: 100% !important;
  margin: 0 !important;
  border-right: 0;
}

.main-publication {
  margin-top: -2px !important;
}

.news,
.article-main-body {
  padding-left: 0;
  padding-right: 0;
}

#wrapper {
  width: inherit;
}

#header,
.header-adds,
.lider .encabezado {
  max-width: 1200px;
  margin: 0 auto;
}

/*
#header {
  position: absolute;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#header .navbar-default,
.boton-secciones.collapsed,
.silla-regional .boton-secciones.collapsed:hover {
  background: none !important;
  color: #fff;
}

#header .nav>li>a {
  color: #fff !important;
}

#header .nav>li.dropdown:hover {
  background-color: #fff !important;
}

#header .nav>li.dropdown:hover > a {
  color: #000 !important;
}

.boton-secciones .icon-bar,
.silla-regional .boton-secciones.collapsed:hover .icon-bar {
  background-color: #fff !important;
}
*/

#silla-interactive-container {
  font-size: 14px;
}

#silla-interactive-container p {
  margin-left: 0;
  font-size: 16px;
}

.article-full {
  padding-top: 0;
}

#comments {
  max-width: 1200px;
  margin: 0 auto;
  float: none;
}
