@import '../variables.css';

.root {
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  margin: 2em 0;
  box-sizing: border-box;
  border: 2px solid #ccd6d2;
  cursor: pointer;
}

.root::before {
  position: absolute;
  content: " ";
  width: 3em;
  height: 3em;
  border: 2px solid #ccd6d2;
  border-radius: 100%;
  left: 0;
  transform: translate(-60%, -60%);
  background-color: #fff;
  background-image: url('/images/question.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  box-sizing: border-box;
}

.open {
  border: 2px solid #ccd6d2;
  padding: 0;
}

.button {
  background: none;
  width: 100%;
  text-align: left;
  border: 0;
  padding: 0;
}

.button:focus {
  box-shadow: 0 2px 0 var(--brand-color),
              0 -2px 0 var(--brand-color),
              -2px 0 0 var(--brand-color),
              2px 0 0 0var(--brand-color);
  outline: none;
}

.open .title::before,
.open .title::after {
  transform: rotate(135deg);
}

.open .title::before {
  top: 33.3333%;
}

.title {
  display: block;
  padding: calc(1em - 3px) 1.5em;
  position: relative;
  margin: 0;
  font-weight: lighter;
  color: var(--brand-black);
  cursor: pointer;
}

.title::before,
.title::after {
  position: absolute;
  content: " ";
  width: 2px;
  height: 1em;
  right: 1.45em;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--brand-color);
  transition-duration: 0.2s;
  transform-origin: center;
}

.title::after {
  height: 2px;
  width: 1em;
  right: 1em;
}

.content {
  padding: 0 1.5rem;
  max-height: 20em;
  transition: max-height var(--transition-duration) ease;
  overflow: hidden;
}
