@import '../variables.css';
:root {
  --transition-duration: .7s;
}
.root {
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  margin: 2em 0;
  box-sizing: border-box;
  border: 3px solid #ccd6d2;
}

.button {
  background: none;
  width: 100%;
  text-align: left;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.open .title::before,
.open .title::after {
  transform: rotate(135deg);
}

.title {
  display: block;
  padding: calc(0.675em - 3px) 1.5rem;
  position: relative;
  margin: 0;
  font-weight: 600;
  font-size: 1.25em;
  color: var(--brand-black);
  cursor: pointer;
  font-family: var(--font-family-base);
  letter-spacing: 0.03em;
}

.title::after {
  position: absolute;
  content: " ";
  width: 1em;
  height: 1em;
  right: 1em;
  top: .6em;
  background-image: url('/images/toggle.svg');
  background-size: cover;
  transition-duration: var(--transition-duration);
  transform-origin: center;
}

.content {
  padding: 0 1.5rem;
  transition: max-height var(--transition-duration) ease;
  overflow: hidden;
  max-height: 0;
}

@media screen and (max-width: 30rem) {
  .title,
  .content {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
