@import '../variables.css';

.select {
  display: inline-block;
  width: 8em;
  font-size: 0.8em;
  font-weight: 400;
  font-family: var(--font-family-base);
  -webkit-transform: translateY(25%);
  -moz-transform: translateY(25%);
  -ms-transform: translateY(25%);
  -o-transform: translateY(25%);
  transform: translateY(25%);
}
