@import '../variables.css';

#chart {
  display: none !important;
}

.chart {
  overflow: visible !important;
  max-width: 100%;
}

.chartRoot {
  position: relative;
  text-align: center;
}

.link {
  fill: none;
  stroke-opacity: 0.4;
  transition: 1s;
}

.link__hover {
  fill: none;
}

.link:hover,
.link--active {
  stroke-opacity: 0.8;
}

.node rect {
  fill: var(--brand-black);
  fill-opacity: 0.2;
  shape-rendering: crispEdges;
  transition: fill-opacity var(--transition-duration);
}

.node text {
  opacity: 0.35;
  transition: opacity var(--transition-duration);
}

.node__active rect {
  fill-opacity: 1;
}

.node__active text {
  opacity: 1;
}

.mask {
  pointer-events: none;
}

.maskLayer {
  transition: 1s;
}

.text {
  position: relative;
  z-index: 10;
  opacity: 0;
  transition: 0.2s;
}

.text__active {
  opacity: 1;
}

.textBox {
  background-color: #fff;
  width: 26em;
  max-width: 90%;
  box-sizing: border-box;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  box-shadow: 0 0 7em rgba(0, 0, 0, 0.1);
  padding: 1em 2em;
  text-align: center;
}

.activeText,
.activeAmount {
  display: block;
  font-size: 1.25em;
}

.activeAmount {
  font-weight: bold;
}
